body {
  margin: 0;
  font-family: "Baloo Bhai 2", sans-serif;
  background: url("../images/lead-form-bg.png") repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: white;
  padding: 30px;
  border-radius: 12px;
}

.section-title {
  font-size: 36px;
  color: #561d00;
}
.highlight {
  color: #ff6b00;
}
